@serapiolabs:registry=https://gitlab.com/api/v4/projects/84728951/packages/npm/
//gitlab.com/api/v4/projects/84728951/packages/npm/:_authToken=glpat-oUG3J538GfZYU7vSfXR1WWM6MQpvOjEKdTpiNHRybg8.01.170rjgy1f
