@tailwind base;

@tailwind components;

@tailwind utilities;


@layer base {
    /* @font-face {
        font-family: 'jim-pam';
        src: url("../public/BBPAMJIM4EVER.ttf") format("truetype");
    }

    @font-face {
        font-family: 'little-spark';
        src: url("../public/KGALittleSpark.ttf") format("truetype");
    }

    @font-face {
        font-family: 'marion';
        src: url("../public/Marion_Regular.ttf") format("truetype");
    }

    @font-face {
        font-family: 'boom-roasted';
        src: url("../public/BBBoomRoasted.ttf") format("truetype");
    } */

    @font-face {
        font-family: 'lobster';
        src: url("../public/Lobster-Regular.ttf") format("truetype");
    }

    h1 {
        font-family: 'lobster'
    }

    p {
        font-family: 'jim-pam'
    }

    div {
        font-family: 'marion'
    }

    a {
        font-family: 'sans'
    }
}