html {
  background-color: #F9F7F4;
  color: #2D2926;
  height: 100%;
} 

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-inter), -apple-system, BlinkMacSystemFont, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  /* html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  } */
}